/* 
GLOBAL STYLES

COLORS
Primary:#02b3e4
Secondary:#2d3c49
Secondary-Light:#7d97ad
*/

*,
*::after
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
    margin: auto 0;
    box-sizing: border-box;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    font-family: 'Lato', sans-serif; 
    color: #2d3c49;    
}

h2 {
    font-size: 2.8rem;
}

p {
     font-size: 1.6rem;
 }

/* 
HEADER SECTION 
*/

.header-logo {
    height:7rem ;
}

.header-title,
.header-subtitle {
	margin-top: 0;
	
}

.header-title {
	font-size: 4rem;
}

.header-subtitle {
	font-size: 2.4rem;
}


/* 
SKILL SECTION
*/

.skills-title {
	font-size: 3.2rem;
	text-align: center;
}

.skills-list {
	padding: 0;
	list-style: none;
}

.card {
    box-shadow: 0.5rem 0.5rem 3rem #ccc
}

/* 
FOOTER SECTION
*/

svg {
    fill: #02b3e4;
   
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: row
}

.footer-box {
    height: 7rem;
    width: 7rem;
    padding: 1rem;

}

.footer-icons {
    width: auto;
    max-height: 5rem; 
  
}

/* 
MEDIA QUERIES
*/


 @media screen and (max-width: 600px)  {
     html {
            font-size: 50%;
     }  
}